PORT=5001
JWT_SECRET=thisIsMySuperSecretJWTKeyForTrustExamThatIsLongEnough1234567890abcdefghijklmnopqrstuvwxyzABCDEFGHIJK
MONGO_URI=mongodb://localhost:27017/trustexam
FRONTEND_URL=http://localhost:3000

